---
import Layout from "@layouts/Layout.astro";
import { supabase } from "@databases/supabase.js";

const { location_id } = Astro.params;
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
    cookies.set("referrer-url", Astro.url.pathname, {
        path: "/",
    });
    return redirect("/login");
}

const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
});

if (error) {
    cookies.delete("sb-access-token", {
        path: "/",
    });
    cookies.delete("sb-refresh-token", {
        path: "/",
    });

    return redirect("/login");
}

const email = data.user?.email;
if (email !== "admin@coffee.place") {
    return redirect("/");
}

const location = {
    uuid: "u3z",
    neighborhood: "Kozari bok",
    street_address: "Unska 3",
    city: "Zagreb",
};

const tables = [
    {
        id: 1,
        location_uuid: "u3z",
        taken_seats: 2,
        total_seats: 4,
        reserved: false,
        x: 200,
        y: 50,
    },
    {
        id: 2,
        taken_seats: 0,
        total_seats: 4,
        reserved: false,
        x: 0,
        y: 200,
    },
    {
        id: 3,
        taken_seats: 5,
        total_seats: 6,
        reserved: false,
        x: 300,
        y: 0,
    },
    {
        id: 4,
        taken_seats: 0,
        total_seats: 6,
        reserved: true,
        x: 49,
        y: 0,
    },
];

const location_placeholders = structuredClone(location);
---

<Layout>
    <main>
        <div class="center-align top-margin large-margin">
            <article
                class="top-margin medium-elevate medium-width center center-align middle-align surface"
            >
                <h4 class="freeman-regular">Edit location</h4>
            </article>
        </div>

        <article
            class="vertical-margin medium-elevate medium-width center surface"
        >
            <form id="edit-location-form">
                <div class="field label border bottom-margin large-margin">
                    <input
                        id="street_address"
                        class="active"
                        name="street_address"
                        type="text"
                        value={location.street_address}
                    />
                    <label for="street_address" class="active"
                        >Street address</label
                    >
                </div>
                <div class="field label border vertical-margin large-margin">
                    <input
                        id="neighborhood"
                        class="active"
                        name="neighborhood"
                        type="text"
                        value={location.neighborhood}
                    />
                    <label for="neighborhood" class="active">
                        Neighborhood
                    </label>
                </div>
                <div class="field label border vertical-margin large-margin">
                    <input
                        id="city"
                        class="active"
                        name="city"
                        type="text"
                        value={location.city}
                    />
                    <label for="city" class="active">City</label>
                </div>

                <div><span>Location ID: {location_id}</span></div>
                <div
                    id="grid"
                    class="medium-width border"
                    style="height: 300px;"
                >
                    {
                        tables.map((table) => (
                            <div
                                class="table brown3"
                                data-ui="#dialog"
                                data-id={table.id}
                                data-x={table.x}
                                data-y={table.y}
                                style={`transform:translate(${table.x}px, ${table.y}px);`}
                            >
                                <span class="center middle-align">
                                    {table.id}
                                </span>
                            </div>
                        ))
                    }
                    <div
                        id="entrance"
                        class="black"
                        style="transform:translate(142px, 0px);  width:60px; height:5px;"
                    >
                    </div>

                    <div
                        class="black"
                        style="transform:translate(285px, 205px);  width:65px; height:7px;"
                    >
                    </div>

                    <div
                        class="black"
                        style="transform:translate(285px, 200px);  width:7px; height:65px;"
                    >
                        <pre class="large-text"> <br />  bar</pre>
                    </div>
                </div>
                <button class="center top-margin" type="submit">Update</button>
            </form>
        </article>
    </main>
</Layout>

<script define:vars={{ location, tables }}>
    document
        .getElementById("edit-location-form")
        .addEventListener("submit", async (event) => {
            event.preventDefault();

            const formData = new FormData(event.target);
            const street_address = formData.get("street_address");
            const neighborhood = formData.get("neighborhood");
            const city = formData.get("city");

            if (!street_address || !neighborhood || !city) {
                return alert("All fields are required");
            }

            let updatedTables = [...tables];
            tables.forEach((table, index) => {
                const tableElement = document.querySelector(
                    `[data-id="${table.id}"]`,
                );
                if (tableElement) {
                    const x = parseFloat(tableElement.getAttribute("data-x"));
                    const y = parseFloat(tableElement.getAttribute("data-y"));
                    updatedTables[index] = {
                        ...table,
                        x: x,
                        y: y,
                    };
                }
            });
            if (
                street_address === location.street_address &&
                neighborhood === location.neighborhood &&
                city === location.city &&
                JSON.stringify(updatedTables) === JSON.stringify(tables)
            ) {
                return alert("No changes detected");
            }

            console.log({ street_address, neighborhood, city });
        });

    document.addEventListener("DOMContentLoaded", function () {
        var grid = document.querySelector(".grid");

        var tables = document.querySelectorAll(".table");
        tables.forEach(function (table) {
            interact(table)
                .draggable({
                    origin: "parent",
                    snap: {
                        targets: [
                            interact.createSnapGrid({
                                x: 25,
                                y: 25,
                            }),
                        ],
                        relativePoints: [{ x: 0, y: 0 }],
                    },
                    restrict: {
                        restriction: "parent",
                        elementRect: { top: 0, left: 0, bottom: 1, right: 1 },
                    },
                })
                .on("dragmove", function (event) {
                    const target = event.target;
                    let x =
                        (parseFloat(target.getAttribute("data-x")) || 0) +
                        event.dx;
                    let y =
                        (parseFloat(target.getAttribute("data-y")) || 0) +
                        event.dy;

                    x = Math.max(0, Math.min(x, 300));
                    y = Math.max(0, Math.min(y, 332));

                    if ((x > 224 && y > 149) || (x > 99 && x < 199 && y < 50)) {
                        return;
                    }

                    target.style.webkitTransform = target.style.transform =
                        "translate(" + x + "px," + y + "px)";

                    target.setAttribute("data-x", x);
                    target.setAttribute("data-y", y);
                });
        });
    });
</script>

<style>
    .table {
        position: absolute;
        width: 50px;
        height: 50px;
        padding: 1px;
        background-clip: content-box;
        border-radius: 50%;
        display: flex;
        font-size: 20px;
    }

    .table:hover {
        outline: 2px solid;
        outline-color: #ff0000;
        cursor: pointer;
    }
</style>
